name: App With Eks With Github Actions with ArgoCD

on:
  # workflow_dispatch
  push:
    branches:
      - main
    paths-ignore:
      - 'manifest/**'

jobs:
  ci:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
      
    - name: Set up JDK 17
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: maven

    - name: Make application.properties
      run: |
        cd ./src/main/resources
        touch ./application.properties
        echo "${{ secrets.PROPERTIES }}" > ./application.properties
      shell: bash

    - name: Build with Maven
      run: mvn -B -DskipTests package --file pom.xml
      
    - name: Naming jar file
      run: mv ./target/*.jar ./target/app.jar

    - name: Check jar file
      run: ls ./target

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3
      
    - run: docker buildx build -t app .

    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v4
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: ap-northeast-2

    - name: Login to Amazon ECR Public
      id: login-ecr-public
      uses: aws-actions/amazon-ecr-login@v2
      with:
        registry-type: private

    - name: Build, tag, and push docker image to Amazon ECR Public
      env:
        REGISTRY: ${{ steps.login-ecr-public.outputs.registry }}
        REGISTRY_ALIAS: ${{ secrets.ECR_ID }}
        REPOSITORY: ${{ secrets.ECR_PRIVATE_REPOSITORY }}
        REGION: ${{ secrets.REGION }}
        IMAGE_TAG: ${{ github.sha }}
      run: |
        aws ecr get-login-password --region $REGION | docker login --username AWS --password-stdin $REGISTRY_ALIAS.dkr.ecr.$REGION.amazonaws.com
        docker build -t $REPOSITORY:$IMAGE_TAG .
        docker tag $REPOSITORY:$IMAGE_TAG $REGISTRY_ALIAS.dkr.ecr.$REGION.amazonaws.com/$REPOSITORY:$IMAGE_TAG
        docker push $REGISTRY_ALIAS.dkr.ecr.$REGION.amazonaws.com/$REPOSITORY:$IMAGE_TAG
    
  cd:
    needs: ci
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v4
      with:
          repository: Jeonikjoo/app-with-argocd
          ref: main
          token: ${{ secrets.TOKEN }}
          
    - name: Set up Image
      run: |
        sed -i "s%image: ${{ secrets.ECR_ID }}.dkr.ecr.${{ secrets.REGION }}.amazonaws.com/${{ secrets.ECR_PRIVATE_REPOSITORY }}:[A-z0-9]*%image: ${{ secrets.ECR_ID }}.dkr.ecr.${{ secrets.REGION }}.amazonaws.com/${{ secrets.ECR_PRIVATE_REPOSITORY }}:${{ github.sha }}%" ./manifest/app.yaml
        
    - name: Commit and push changes
      run: |
        git config --local user.email ${{ secrets.EMAIL }}
        git config --local user.name ${{ secrets.USERNAME }}
        git add .
        git commit -m "Update nginx image to latest"
        git push
    
      
        
  
